<div class="new_container">
  <p>新規投稿</p>
  <div class="form">
    <div class="from_element">
      <span>タイトル：</span>
      <input type="text" name="example" >
    </div>
    <div class="from_element">
      <span>画像ファイル：</span>
      <input type="file" name="example" accept="image/jpeg, image/png">
    </div>
    <div class="from_element">
      <span>説明：</span>
      <textarea></textarea>
    </div>

    <input class="submit_button" type="submit" value="送信する">
  </div>

</div>
