<div class='top_contener'>
  <div class="top_content">
    <div class="image_container">
      <div class="image_info">
        <p>画像タイトル</p>
        <img src="/image/2_.jpg">
        <span>出典リンク</span>  
      </div>
      <div class="image_description">
        <p>説明</p>
        <p>あああああああああああああああああ</p>
      </div>
    </div>    
    <div class="image_container">
      <div class="image_info">
        <p>画像タイトル</p>
        <img src="/image/3_.jpg">
        <span>出典リンク</span>  
      </div>
      <div class="image_description">
        <p>説明</p>
        <p>あああああああああああああああああ</p>
      </div>
    </div>
    <div class="image_container">
      <div class="image_info">
        <p>画像タイトル</p>
        <img src="/image/4_.png">
        <span>出典リンク</span>  
      </div>
      <div class="image_description">
        <p>説明</p>
        <p>あああああああああああああああああ</p>
      </div>
    </div>
    <div class="image_container">
      <div class="image_info">
        <p>画像タイトル</p>
        <img src="/image/5_.jpg">
        <span>出典リンク</span>  
      </div>
      <div class="image_description">
        <p>説明</p>
        <p>あああああああああああああああああ</p>
      </div>
    </div>
  </div>
</div>
