<div class="top_content">
    <% @posts.each do |post| %>
    <div class="image_container">
        <div class="image_info">
          <p><%= post.title %></p>
          <img src="<%= "/images/#{post.image_url}"%>">
          <span><%= post.link_url %></span>  
        </div>
        <div class="image_description">
          <p>説明</p>
          <p><%= post.description %></p>
        </div>
    </div>   
    <% end %>
</div> 

